.root {
  outline: none;
}
h1 {
  color: crimson;
}
#scaleSpan {
  font-size: 60%;
  margin-left: 20px;
  color: blue;
}

td {
  display: inline-block;
  border: 2px solid #007bff;
  margin-right: 10px;
  padding: 5px;
  height: 45px;
}

#limits input {
  margin-top: 5px;
  width: 100px;
  -webkit-appearance: none;
  background-color: #007bff;
}
#limits span {
  display: inline-block;
  width: 50px;
  color: #007bff;
  text-align: center;
  vertical-align: top;
}

#colors {

}
#colors input {
  width: 40px;
}
#colors button {
}

#elapsedTime {
  font-size: small;
  color: blue;
}


/*::ng-deep .tooltip-inner {*/
/*  background-color: darkgreen;*/
/*  font-size: 125%;*/
/*}*/
/*::ng-deep .arrow::before {*/
/*  display: none;*/
/*}*/
