<div class="root" tabindex="1" (keypress)="root_keypress($event)">
<h1><span ngbTooltip="{{help}}">Mandelbrot Lens</span><span id="scaleSpan"> 1:{{win.scale}}</span></h1>
<app-picture></app-picture>
<table>
  <tr>
    <td>
      <div id="reset">
      <button class="btn btn-danger btn-sm" (click)="reset_click()">Reset</button>
      </div>
    </td>
    <td ngbTooltip="Slice Height">
      <div id="limits"  >
        <input type="range" #limit [value]="win.iterLimit" (mousemove)="f()" (change)="limit_change(+limit.value)"
               min="10" max="{{infinity}}" step="10">
        <span>{{limit.value}}</span>
      </div>
    </td>

    <td  ngbTooltip="Color Scheme">
      <div id="colors">
        <input type="color" #dark value="#000000" (change)="color_change('dark', dark.value)">
        <input type="color" #light value="#FFFFFF" (change)="color_change('light', light.value)">
        <input type="color" #third value="#FF0000" (change)="color_change('third', third.value)">

        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-link" id="schemaDropdown" ngbDropdownToggle >{{colorSchemaName}}</button>
          <div ngbDropdownMenu aria-labelledby="schemaDropdown">
            <button ngbDropdownItem *ngFor="let schema of ['Plain', 'Fiery', 'Zebra', 'Smooth']; index as i;"
                    (click)="schema_click(i, schema, dark.value, light.value, third.value)">{{schema}}</button>
          </div>
        </div>
      </div>
    </td>
    <td>
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseHelp">?
      </button>
    </td>
    <td style="border: none">
      {{picture ? picture.heightInPoint : ''}}
      <span id="elapsedTime" title="elapsedTime">{{elapsedTime}}</span>
    </td>
  </tr>
</table>

  <div id="collapseHelp" [ngbCollapse]="!isCollapsed">
    <div class="card">
      <div class="card-body">
        <h6>Пояснения</h6>
        Каждой точке плоскости (x, y) в результате некоторых вычислений можно сопоставить целое число h >= 0. <br/>
        В результате получается некий рельеф местности. Рельеф можно "срезать" плоскостью, параллельной "земле" на высоте h0 от нее.
        Полученный разрез закрашен на экране первым (темным) цветом, цвета остальных точек зависят от выбранной цветовой схемы.
<p>
        <h6>Вычисления</h6>
    Точка (x, y) трактуется как комплексное число <code>C = x + iy</code>.<br/>
    Для каждой точки плоскости последовательно вычисляются:
<code>z0 = C
z1 = z0**2 + C
z2 = z1**2 + C
z3 = z2**2 + C
...</code>
до тех пор, пока zH не окажется за пределами окружности с центром в начале координат и радиусом 2. Номер итерации H и будет результатом вычислений.
Возможно, что что после большого числа итераций, скажем N, zN по прежнему будет оставаться внутри круга с радиусом 2. Тогда будем возвращать N в качестве результата - условную "бесконечность".
      </div>
    </div>
  </div>
</div>
